<div class="container mx-auto">
    <div class="slider text-center">
        <div class="main-slider grid grid-cols-5">
            <div class="item grid-rows-1">
                <span>
                    <img src="../../assets/img/{{ this.imgArray[0] }}" alt="Pizza immage">
                </span>
            </div>
            <div class="item grid-rows-1">
                
                <span>
                    <img src="../../assets/img/{{ this.imgArray[1] }}" alt="Pizza immage">
                </span>
            </div>
            <div class="item grid-rows-1">
                <span>
                    <img src="../../assets/img/{{ this.imgArray[2] }}" alt="Pizza immage">
                    
                </span>
            </div>
            <div class="item grid-rows-1">
                <span>
                    <img src="../../assets/img/{{ this.imgArray[3] }}" alt="Pizza immage">
                </span>
            </div>
            <div class="item grid-rows-1">
                <span>
                    <img src="../../assets/img/{{ this.imgArray[4] }}" alt="Pizza immage">
                </span>
            </div>
        </div>
        <div class="grid grid-cols-2">
            <div class="grid-rows-1" (click)="previous()">
                <i class="fa-solid fa-chevron-left"></i>
            </div>
            <div class="grid-rows-1" (click)="next()">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </div>
    </div>
</div>
