    <div class="container mx-auto max-w-screen-xl p-4">
        <div class="grid lg:grid-cols-2 md:grid-cols-1 grid-cols-1 mt-6">
            <div class="col-span-1">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2793.1010808333435!2d9.968934075802677!3d45.568405871075726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47816c643f89254f%3A0x38516c95c1dfaf1b!2sPizzeria%20Rustica!5e0!3m2!1sit!2sit!4v1705097611967!5m2!1sit!2sit" width="600" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-span-1 flex flex-col grow justify-around">                
                <!-- Address -->
                <div class="">                            
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Piazza Aldo Moro, 15 </p>
                    <p>25030 Coccaglio (BS)</p>
                </div>
                <!-- Telephone -->
                <div class=""> 
                    <i class="fas fa-phone"></i>
                    <p>+39 0307702294</p>
                    <p>+39 327 2653784</p>  
                </div>
                <!-- Opening days and time -->
                <div class="">
                    <i class="far fa-calendar-alt"></i>
                    <p>Da lunedì a venerdì</p>
                    <p>dalle 11:30 alle 14:00 / dalle 18:00 alle 23:00 </p>
                </div>                        
            </div>
                
            
            
        </div>
    </div>
