* {
    background-color: #fffaee;
    color: #ef871e;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2; // z-index 2 because the arrow button in the carousel already have 1.
}

.logo {
    height: 80px;
}

.button {
    border: 1px solid #ef871e;
    cursor: pointer;
}



.activebutton {
    box-shadow: inset 0 1px 0 0 #dcecfb;
    background: #ef871e;
    border: 1px solid #ef871e;
    color: #ffffff;
    text-shadow: 0 1px 0 #ef871e;
}

@media screen and (max-width: 600px) {

    .list {
        border: 1px solid #ef871e;
    }
}