<div class="w-full">
    <img src="../../assets/img/team-pizzeria.jpg" alt="Pizzeria's team immage" class="w-full">
</div>
<div class="container m-auto">
    <h2 class="m-8 text-center">Lavora con noi!</h2>
    <p class="m-8 text-center">Siamo sempre alla ricerca di nuovo personale, non è richiesta nessuna esperienza.</p>
    <div class="grid lg:grid-cols-3 grid-cols-1 text-center">
        <div class="lg:col-span-1">
            <div class="card flex justify-center m-6">                
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <img class="w-full" src="../../assets/img/download (45).jpeg" alt="Sunset in the mountains">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
                        <p class="text-gray-700 text-base">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="lg:col-span-1">
            <div class="card flex justify-center m-6">                
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <img class="w-full" src="../../assets/img/download (17).jpeg" alt="Sunset in the mountains">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
                        <p class="text-gray-700 text-base">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="lg:col-span-1">
            <div class="card flex justify-center m-6">                
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <img class="w-full" src="../../assets/img/download (51).jpeg" alt="Sunset in the mountains">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
                        <p class="text-gray-700 text-base">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

