<div class="w-full">
    <img src="../../assets/img/pizza-forno.webp" alt="Pizzeria's team immage" class="w-full h-[30vh]">
</div>

<div class="container m-auto">
    <p>
        Presso la Pizzeria Rustica, ci impegniamo a offrirti le migliori pizze d'asporto di Coccaglio. Utilizziamo solo ingredienti freschi e di prima qualità per garantire che ogni pizza sia un'esplosione di gusto autentico. La nostra passione per la tradizione italiana si riflette in ogni fetta.
    </p>
</div>


<app-carousel></app-carousel>
