<div class="w-full">
    <img src="../../assets/img/pizza-forno.webp" alt="Pizzeria's team immage" class="w-full h-[30vh]">
</div>

<div class="container m-auto">
    <div class="grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1">
        <p class="p-8">
            Presso la Pizzeria Rustica, ci impegniamo a offrirti le migliori pizze d'asporto di Coccaglio. Utilizziamo solo ingredienti freschi e di prima qualità per garantire che ogni pizza sia un'esplosione di gusto autentico. La nostra passione si riflette in ogni fetta.
        </p>
        <img src="../../assets/img/pizza1.jpeg" alt="Pizza image">
    </div>    
</div>
<div class="w-full flex justify-center menu my-3 p-6">
    <div class="container">
        <div class="grid grid-cols-2">
            <p>
                Scegli la tua pizza preferita e ordina comodamente online o per telefono. Il nostro team si assicurerà che la tua pizza sia preparata con cura e pronta per essere ritirata al momento convenuto. Con il nostro servizio d'asporto rapido e conveniente, puoi goderti il gusto autentico della pizza italiana direttamente a casa tua.
            </p>            
                <div class="menu-icon">
                    <a target="_blank" href="../../assets/menu.pdf">
                        <div class="top-right-corner">
                            <span class="h-full text-center flex items-center">Clicca per vedere il menu!</span>
                        </div>
                        <img src="../../assets/img/first-page-menu.jpg" alt="First page menu icon" class="h-100">
                    </a>
                </div>            
        </div>
    </div>
</div>
<div class="w-full flex justify-center location my-3 p-6">
    <div class="container">
        <h2>La nostra pizzeria offre anche un comodo posto all'esterno o all'interno nel caso vogliate mangiare da noi</h2>
        <div class="grid grid-cols-2">
            <img src="../../assets/img/download (42).jpeg" alt="Inside location image">
            <img src="../../assets/img/download (45).jpeg" alt="Outsied location image">
        </div>
    </div>
</div>




<app-carousel></app-carousel>
